<nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top">
        <a routerLink='/home' class="navbar-brand"><img src="../../assets/image/logo.png" width="80px" alt=""/>AI Cyber Solutions Pvt Ltd</a>
        <ul class="nav navbar-nav mr-auto"></ul>
        <ul class="navbar-nav flex-row">
            <li class="nav-item">
                <a routerLink='dashboard' routrtLinkActive='active' class="nav-link px-2">Dashboard</a>
            </li>
            <li class="nav-item">
                <a routerLink='home' routrtLinkActive='active' class="nav-link px-2">Home</a>
            </li>
            <li class="nav-item">
                <a routerLink='about' routrtLinkActive='active' class="nav-link px-2">About AICS</a>
            </li>
            <li class="nav-item">
                <a routerLink='leave' routrtLinkActive='active' class="nav-link px-2">Leave-Apply</a>
            </li>
            <li class="nav-item">
                <a routerLink='policy' routrtLinkActive='active' class="nav-link px-2">HR Policy</a>
            </li>
            <li class="nav-item">
                <a routerLink='profile' routrtLinkActive='active' class="nav-link px-2">Add Employee</a>
            </li>
        </ul>
    </nav>