<section>


    <form action="">
        <!-- Salary Details -->
        <div class="text-center pt-2 pb-3">
            <h2>Leave Apply</h2>
        </div>
    
        <div class="col-md-12 row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="formGroupExampleInput" class="">Leave Type</label>
                    <select id="country" class="custom-select" name="country">
                        <option value="">Select Leave...</option>
                        <option value="">Casual leave</option>
                        <option value="">Sick leave</option>
                        <option value="">Other</option>
                    </select>
                </div>
           
            </div>
        </div>
        <div class="col-md-12 row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="formGroupExampleInput" class="">Starting date</label>
                    <input type="date" class="form-control" id="formGroupExampleInput">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="formGroupExampleInput" class="">End Date</label>
                    <input type="date" class="form-control" id="formGroupExampleInput">
                </div>
            </div>
            
        </div>
        <div class="col-md-12">
            <label for="subject">Reason / Message</label>
            <!-- <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea> -->
            <textarea class="form-control" rows="10" style="max-width:97%"></textarea>
        </div>
    
       <div class="text-center p-3">
        <Button class="btn btn-primary">Apply For Leave</Button> &nbsp;
        <Button class="btn btn-danger">Cancel</Button>
        </div>
    </form>
    
    
    
    </section>