<div class="jumbotron">
    <div class="text-center"><h4>About AICS</h4></div>
    <p>AI Cyber Solutions Inc. is a leading overseas IT firm based in the U.S., with supporting branches in India. Ever since its inception in 2017, we have been providing outstanding career advice and immigration assistance for our clients across the globe. Identifying the need to grow into a well-equipped immigration consultancy in serving the Indian clients, our network expanded into AI Cyber Solutions Pvt. Ltd! We are committed to maintaining professional standards and quality in our services. To achieve this, we provide fully customized solutions to assist candidates in choosing their career as per their requirements, financial appetite and suitability.</p>
</div>

  