<form action="">
    <div class="col-md-12 row">
        <div class="col-md-4">
            
            <div class="form-group bmd-form-group">
                <!-- manually specified -->
                <label for="formGroupExampleInput2" class="bmd-label-floating">Another label</label>
                <input type="text" class="form-control" id="formGroupExampleInput2">
            </div>
            <div class="form-group">
                    <!-- left unspecified, .bmd-form-group will be automatically added (inspect the code) -->
                    <label for="formGroupExampleInput" class="bmd-label-floating">Example label</label>
                    <input type="text" class="form-control" id="formGroupExampleInput">
                </div>
                <div class="form-group bmd-form-group">
                    <!-- manually specified -->
                    <label for="formGroupExampleInput2" class="bmd-label-floating">Another label</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2">
                </div>
                <div class="form-group">
                        <!-- left unspecified, .bmd-form-group will be automatically added (inspect the code) -->
                        <label for="formGroupExampleInput" class="bmd-label-floating">Example label</label>
                        <input type="text" class="form-control" id="formGroupExampleInput">
                    </div>
                    <div class="form-group bmd-form-group">
                        <!-- manually specified -->
                        <label for="formGroupExampleInput2" class="bmd-label-floating">Another label</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2">
                    </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <!-- left unspecified, .bmd-form-group will be automatically added (inspect the code) -->
                <label for="formGroupExampleInput" class="bmd-label-floating">Example label</label>
                <input type="text" class="form-control" id="formGroupExampleInput">
            </div>
            <div class="form-group bmd-form-group">
                <!-- manually specified -->
                <label for="formGroupExampleInput2" class="bmd-label-floating">Another label</label>
                <input type="text" class="form-control" id="formGroupExampleInput2">
            </div>
            <div class="form-group">
                    <!-- left unspecified, .bmd-form-group will be automatically added (inspect the code) -->
                    <label for="formGroupExampleInput" class="bmd-label-floating">Example label</label>
                    <input type="text" class="form-control" id="formGroupExampleInput">
                </div>
                <div class="form-group bmd-form-group">
                    <!-- manually specified -->
                    <label for="formGroupExampleInput2" class="bmd-label-floating">Another label</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2">
                </div>
                <div class="form-group">
                        <!-- left unspecified, .bmd-form-group will be automatically added (inspect the code) -->
                        <label for="formGroupExampleInput" class="bmd-label-floating">Example label</label>
                        <input type="text" class="form-control" id="formGroupExampleInput">
                    </div>
                    <div class="form-group bmd-form-group">
                        <!-- manually specified -->
                        <label for="formGroupExampleInput2" class="bmd-label-floating">Another label</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2">
                    </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <img [src]="imgURL || '../../assets/image/default-user.jpg'" height="200" >
                <input #file class="" type="file" accept='image/*' (change)="preview(file.files)" />
            </div> 
            <div class="form-group bmd-form-group">
                <!-- manually specified -->
                <label for="formGroupExampleInput2" class="bmd-label-floating">Another label</label>
                <input type="text" class="form-control" id="formGroupExampleInput2">
            </div>
            <div class="form-group">
                    <!-- left unspecified, .bmd-form-group will be automatically added (inspect the code) -->
                    <label for="formGroupExampleInput" class="bmd-label-floating">Example label</label>
                    <input type="text" class="form-control" id="formGroupExampleInput">
                </div>
                <div class="form-group bmd-form-group">
                    <!-- manually specified -->
                    <label for="formGroupExampleInput2" class="bmd-label-floating">Another label</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2">
                </div>
                <div class="form-group">
                        <!-- left unspecified, .bmd-form-group will be automatically added (inspect the code) -->
                        <label for="formGroupExampleInput" class="bmd-label-floating">Example label</label>
                        <input type="text" class="form-control" id="formGroupExampleInput">
                    </div>
                    <div class="form-group bmd-form-group">
                        <!-- manually specified -->
                        <label for="formGroupExampleInput2" class="bmd-label-floating">Another label</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2">
                    </div>
        </div>
    </div>

    <!-- <div class="col-md-12">
        <div class="row"><h2>Employee Details</h2></div>
            <label for="formGroupExampleInput" class="bmd-label-floating">Example label</label>
                <input type="text" id="formGroupExampleInput" class="form-control" placeholder="Name">
            </div>
        </div>
        <div class="col-md-6"></div>
    </div> -->
</form>