
<div class="jumbotron">
<div class="text-center"><h2>HR Policy</h2></div>

    <h4>Working Hours:</h4>
    <p class="space">You shall be expected to work a minimum of 51 hours a week between 9:30 AM and 6:00 PM from Monday to Saturday. The working hours are subject to change, depending on the requirements of the Company. In view of your office you will be required to carry out your duties and responsibilities effectively, to achieve the desired results which may include working late hours. </p>

    <h4>Dress Code: </h4>
        <ul>
            <li> All employees must be clean and well-groomed. Grooming styles dictated by religion and ethnicity aren’t restricted. </li>
            <li> All clothes must be work-appropriate. Clothes that are typical in workouts and outdoor activities aren’t allowed. </li>
            <li> All clothes must project professionalism. Clothes that are too revealing or inappropriate aren’t allowed. </li>
            <li> All clothes must be clean and in good shape. Discernible rips, tears or holes aren’t allowed. </li>
        </ul>
    <h4>Internet usage:</h4>
    <p class="space">Internet Usage Policy applies to all employees, who have access to computers and the Internet to be used in the performance of their work. Use of the Internet by employees is permitted and encouraged where such use supports the goals and objectives of the business. However, access to the Internet through AICS Pvt. Ltd is a privilege and all employees must adhere to the policies concerning Computer, Email and Internet usage. Violation of these policies could result in disciplinary and/or legal action leading up to and including termination of employment. </p>
    <h4>Company Assets: </h4>
    <ul>
        <li> You are required to handle the company assets including the id-card with at-most care </li>
        <li> You are allowed to use office Wi-Fi to download & use the apps as advised. </li>
        <li> You can get the Wi-Fi password from your HR. </li>
        <li> You are responsible to inform the damage/ loss of company assets handled by you; within 24 hrs. </li>
        <li> In the event of any damage or loss you will have to pay the Assets original price in Full.</li>
    </ul>
    
</div>